# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
packages/

[Aa]pp_Data/cache/
[Aa]pp_Data/Logs/
[Aa]pp_Data/Models/
[Nn]]uGetBackup/
[Aa]pp_Data/TEMP/
[Aa]pp_Data/umbracoc.config
[Aa]pp_Browsers/
[Uu]mbraco
[Uu]mbraco_client
[Aa]pp_Browsers/

/assets
/packages